h1 {
color:blue;
}

.text{
	fill:blue;
}

/* Cancer/Tumor summary list */
.summary_list,
.summary_list li ul{
list-style-type: none;
}

.summary_list li .category_name{
width:200px;
}

.summary_list li ul li{
display:inline-block;
padding:0 5px;
color:blue;
}

/* Table */
.table {
width:100%;
border:1px solid #ccc;
margin:20px 0;
}

.table th {
line-height:1.2;
padding:5px; 
background:#ebeff9;
border:1px solid #ccc;
/* The text in th are bold and centered by default. */
}

.table td {
line-height:1.2;
padding:5px; 
border:1px solid #ccc;
}

.table_hover>tbody>tr:hover>td{
background-color:#fefbd6;
}