html{
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	color:#222;
	font:15px/1.4 'Open Sans',sans-serif;
}


.header {
color:#fff;
background:#0a64a0;
padding:20px;
margin:0;
}

.content{
	padding:20px;
}

.patients_list{
	list-style-type: none;
}

.patients_list li{
padding:5px 10px;
}

/* Cancer/Tumor summary list */
.summary_list,
.summary_list li ul{
list-style-type: none;
}

.summary_list > li{
border-bottom:1px solid #ccc;
}

.summary_list li .category_name{
width:200px;
float:left;
padding:5px 10px;
}

.summary_list li ul{
width:800;
float:left;
color:#0275d8;
}


.summary_list li ul li{
	float:left;
display:inline;
padding:5px 10px;
}

/* Table */
/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.table {
width:100%;
border:1px solid #ccc;
margin:20px 0;
}

.table th {
padding:5px; 
background:#f7f7f9;
border:1px solid #ccc;
/* The text in th are bold and centered by default. */
}

.table td {
padding:5px; 
border:1px solid #ccc;
}

.table_hover>tbody>tr:hover>td{
background-color:#fefbd6;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

.report_id{
	cursor: pointer;
}