html{
color:#222;
font: 15px/1.4 sans-serif;
}

.header {
color:#fff;
background-color: #1976d2;
background: linear-gradient(145deg,#0d47a1,#42a5f5);
padding:10px 20px;
margin:0;
}

.content {
padding:20px;
}

.current_patient {
font-size:24px;
font-weight: bold;
}

.patients_list{
list-style-type: none;
}

.patients_list li {
padding:5px 10px;
}

/* Cancer summary */
.cancer_fact_list {
list-style-type: none;
padding:0;
margin:0;
}

.cancer_fact_list li {
float:left;
margin-right:20px;
color:#0275d8;
padding:0;
}

.fact {
cursor:pointer;
}

.fact:hover {
text-decoration: underline;
}

/* Tumor summary */
.tumor_fact_list {
list-style-type: none;
padding:0;
margin:0;
}

.tumor_fact_list li {
color:#0275d8;
padding:0;
}

/* Table */
/**
* Remove most spacing between table cells.
*/

table {
border-collapse: collapse;
border-spacing: 0;
}

td,
th {
padding: 0;
}

.table {
width:100%;
border:1px solid #ccc;
margin:20px 0;
box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
border-radius: 2px;
}

.table th.th {
padding:5px; 
background:#fafafa;
border:1px solid #ccc;
/* The text in th are bold and centered by default. */
}

.table td {
padding:5px; 
border:1px solid #ccc;
}

.table_hover>tbody>tr:hover>td{
background-color:#fefbd6;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

.report_id {
cursor: pointer;
}

/* Fact */
.fact_list {
list-style-type: none;
margin:0;
padding:0;
}

.fact_list li {
display:inline;
margin-right:10px;
}

.fact_info {
display:inline-block;
width:100px;
padding:5px 10px;
}

.highlighted_report {
color:red !important;
}

.highlighted_text {
background-color:yellow;
color:#222;
/* 400 is the same as normal, and 700 is the same as bold */
font-weight: 600;
padding:2px;
}

#report_content {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
text-align: left;
padding:10px;
font-weight: normal;
overflow-y: scroll;
height:800px;
max-width:800px;
/* Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks */
/* Using <pre> will cause horizontal scroll bar. We use CSS instead for a better rendering. */
white-space:pre-wrap;
}

.report_name {
cursor: pointer;
color:#0275d8;
}

.report_name:hover {
text-decoration: underline;
}

/* Timeline */
.chart {
shape-rendering: crispEdges;
}

.mini text {
font: 9px sans-serif;	
}

.main text {
font: 12px sans-serif;	
}

.miniItem0 {
fill: darksalmon;
stroke-width: 6;	
}

.miniItem1 {
fill: darkolivegreen;
fill-opacity: .7;
stroke-width: 6;	
}

.miniItem2 {
fill: slategray;
fill-opacity: .7;
stroke-width: 6;	
}

.brush .extent {
stroke: gray;
fill: dodgerblue;
fill-opacity: .365;
}