html{
color:#222;
font: 12px Helvetica;
}

.content {

}

.header {
color:#fff;
background-color: #1976d2;
background: linear-gradient(145deg,#0d47a1,#42a5f5);
padding:5px 20px;
margin:0;
}

.logo {
font-size:20px;
font-weight: bold;
}

.current_patient {
font-size:20px;
font-weight: bold;
}

.choose_patient_link {
color:#fff;
}

.patients_list{
list-style-type: none;
}

.patients_list li {
padding:5px 10px;
}

.main {
padding:15px 20px;
}

.section_heading {
font-size:16px;
font-weight: bold;
}

/* Cancer summary */
.cancer_fact_list,
.tumor_fact_list {
list-style-type: none;
padding:0;
margin:0;
}

.cancer_fact_list li,
.tumor_fact_list li {
float:left;
margin-right:20px;
padding:0;
white-space: nowrap;
color:#555;
}

.cancer_fact_list li:last-child,
.tumor_fact_list li:last-child {
margin-right:0;
}

.fact {
color:#0275d8;
cursor:pointer;
}

.fact:hover {
text-decoration: underline;
}

/* Table */
/**
* Remove most spacing between table cells.
*/

table {
border-collapse: collapse;
border-spacing: 0;
}

td,
th {
padding: 0;
}

.table {
border:1px solid #ccc;
margin:10px 0 15px;
}

.table th.th {
padding:5px; 
background:#fafafa;
border:1px solid #ccc;
/* The text in th are bold and centered by default. */
}

.table th.th_vertical {
padding:5px; 
background:#fafafa;
border:1px solid #ccc;
/* The text in th are bold and centered by default. */
text-align:left;
}

.table td {
padding:3px; 
border:1px solid #ccc;
}

.table_hover>tbody>tr:hover>td{
background-color:#fefbd6;
}

/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}


/* Fact */
.fact_list {
list-style-type: none;
margin:0;
padding:0;
}

.fact_list li {
display:inline;
margin-right:10px;
}

.fact_list li:last-child {
margin-right:0;
}

.fact_info {
display:inline-block;
width:100px;
padding:5px 10px;
}

.highlighted_report {
stroke:#ccc !important;
stroke-width:2px;
}

.highlighted_text {
background-color:yellow;
color:#222;
/* 400 is the same as normal, and 700 is the same as bold */
font-weight: 600;
padding:2px;
}

#timeline {
float:left;
}

#timeline_main {
width:960px;
height:280px;
padding:0;
border:1px solid #ccc;
margin:10px 20px 20px 0;
}

#report_content {
float:left;
}

#report_content_main {
width:680px;
height:400px;
padding:10px;
overflow-y: scroll;
border:1px solid #ccc;
margin:10px 0 20px;
}

#report_text {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-weight: normal;
text-align: left;
/* Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks */
/* Using <pre> will cause horizontal scroll bar. We use CSS instead for a better rendering. */
white-space:pre-wrap;
}

.mentioned_texts_list {
list-style-type: none;
padding:0;
margin:0;
}

.mentioned_texts_list li {
float:left;
margin:0 5px 5px 0;
padding:1px 2px 0;
border:1px solid #ddd;
background:#f2f2f2;
color:#75438a;
}

.mentioned_texts_list li:last-child {
margin-right:0;
}

/* Timeline */
.timeline_svg {

}

.main_report {
cursor: pointer;
stroke: #fff;
}

.overview_report {
stroke: #fff;	
}

.zoom {
cursor: move;
fill: none;
/* 
The pointer-events attribute allows authors to control whether or when an element may be the target of a mouse event 
https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
Without this, the zoom won't work
*/
pointer-events: visibleFill;
}

.x-axis {
stroke-width: 0.5px;
stroke: #888;
font: 10px avenir next, sans-serif;
}

.x-axis > path {
stroke: #888;
}

/* D3 brush creates the overlay rect with class="overlay" */
.brush .overlay {
fill: #ddd;
fill-opacity: 0.3;
}

/* D3 brush creates the selected rect with class="selection" */
.brush .selection {
stroke: gray;
fill: dodgerblue;
fill-opacity: 0.3;
}

.brush .handle--custom {
fill: #eee;
stroke: #666
fill-opacity: 0.3;	
}

.report_type_devlider {
stroke-width: 1px;
shape-rendering: crispEdges;
stroke: #ddd;
stroke-dasharray:2,2;
}

.report_type_label,
.overview_label {
font-size:12px;
text-anchor: end;
}