html{
color:#363636;
background-color: #f5f8fa;
font: 12px Helvetica;
}

a {
color: #3273dc;
cursor: pointer;
text-decoration: none;
}

.content {

}

.header {
color:#fff;
background-color: #1e88e5;
padding:10px 20px;
margin:0;
}

.logo {
font-size:20px;
font-weight: bold;
}

.main {
padding:15px 20px;
}

.section_heading {
font-size:16px;
font-weight: bold;
padding:5px;
border-left:3px solid #D66061;
}

.current_patient {
font-size:20px;
font-weight: bold;
}

.choose_patient_link {
color:#fff;
}

/* Cohort Analysis */

/* HTML div, not the svg */
#stage_patient_age,
#stage_patient_count,
#diagnosis,
#biomarkers,
#patients,
#patients2 {
background:#fff;
border:1px solid #ccc;
margin:10px;
padding:0px;
float:left;
}

/* Minimize the text rendering inconsistency across browsers */
svg .tick text {
font-family: Helvetica;
font-size:10px;
}

/* Box plot */
.single_patient_age_line,
.boxplot_min,
.boxplot_max,
.boxplot_median,
.boxplot_whisker,
.boxplot_box {
stroke: #666;
stroke-width:1;
shape-rendering: crispEdges;
}

.boxplot_whisker {
stroke-dasharray: 3,3; /* 3 pixels (or whatever they are) on and 3 pixels off */
stroke: rgb(150, 150, 150);
}

.boxplot_box {
fill: rgb(188, 189, 220);
}

.clicked_bar {
fill-opacity:0.8 !important;
}

.boxplot_text,
.single_patient_text {
font-size:10px;
text-anchor: middle;
}

.stage_bar {
fill-opacity:0.3;
stroke-width:1;
shape-rendering: crispEdges;
cursor:pointer;	
}

.top_stage_bar {
fill: rgb(253, 174, 107);
stroke: rgb(253, 174, 107);
}

.sub_stage_bar {
fill: rgb(181, 207, 107);
stroke: rgb(181, 207, 107);
}

.age_axis_label ,
.count_axis_label {
text-anchor: end;
fill: #222;
}

.top_stage > text {
cursor: pointer;
}

.sub_stage > text {
fill: rgb(51, 102, 204);
}

/* Diagnosis chart */
.diagnosis_x_label {
text-anchor: middle;
cursor:default;
}

.diagnosis_x_label:hover {
font-weight:bold;
fill:rgb(230, 85, 13);
}

.diagnosis_guideline {
stroke:rgb(253, 174, 107);
stroke-width:1;
shape-rendering: crispEdges;
}

.highlighted_diagnosis_label {
fill: rgb(230, 85, 13);
}

.slider {
stroke: #999;
stroke-opacity: .5;
fill: dodgerblue;
fill-opacity: 0.3;
}

/* Patients age range table */
#patients {
width: 640px;
height:345px;
padding:10px;
}

.patients_table {
width:100%;
border:1px solid #ccc;
margin-top:0;
}

/* Table caption is inside <table> tag */
.patients_table caption {
margin-bottom:10px;
}

.patients_table th {
padding:4px; 
background:#ebeff9;
border:1px solid #ccc;
/* The text in th are bold and centered by default. */
}

.patients_table td {
padding:5px; 
border:1px solid #ccc;
}

.patient_age_range_list {
list-style-type: none;
padding:0;
margin:0;
}

.patient_age_range_list li {
float: left;
margin:2px 4px;
}

.patient_age_range_list li:last-child {
margin-right:0;
}

/* Biomarkers chart */
.stages_chart_title,
.diagnosis_chart_title,
.biomarkers_chart_title,
.patients_chart_title,
.patients_table_title {
text-anchor: middle;
font-size:12px;
font-weight: bold;
/* https://stackoverflow.com/questions/12250403/vertical-alignment-of-text-element-in-svg */
/* upper left corner of the text is the position of text */
dominant-baseline:text-before-edge;
}

.biomarker_status_bar,
.biomarker_status_legend {
fill-opacity:0.3;
stroke-width:1;
shape-rendering: crispEdges;
}

.biomarker_status_percentage,
.biomarker_status_legend_text {
font-size:10px;
}

/* Vertical middle alignment */
.biomarker_status_percentage{
dominant-baseline: middle;
}

.biomarkers_chart_x_axis_label,
.biomarkers_chart_y_axis_label {
text-anchor: end;
fill: #222;
}

.biomarkers_chart_legend {
text-anchor: end;	
}

/* Old patients list */
.patients_list{
list-style-type: none;
margin:0;
padding:0;
}

.patients_list > li {
padding:6px 10px 3px;
border-bottom:1px solid #ddd;
}

.patients_list li .cancer_stage_list {
list-style-type: none;
padding:0;
margin:0;
display:inline-block;
}

.patients_list li .cancer_stage_list li {
display:inline-block;
padding:0;
margin:0;
width:133px;
margin-right:10px;
}

.patients_list li .cancer_stage_list li {
margin-right:0;
}

.cancer_fact_list,
.cancer_tnm_fact_list,
.tumor_fact_list {
list-style-type: none;
padding:0;
margin:0;
}

.cancer_tnm_fact_list {
float:left;
margin-right:10px;
background:#fff;
border:1px solid #dbdbdb;
padding:2px 5px;
}

.tnm {
margin-bottom:20px;
}

.tnm_by_type {
display:inline-block;
margin-right:20px;
}

.tnm_type {
float:left;
margin-right:5px;
font-weight: bold;
padding-top:4px;
}

.cancer_fact_list li,
.tumor_fact_list li {
float:left;
margin-right:10px;
padding:0;
color:#555;
}

.cancer_tnm_fact_list li {
float:left;
margin-right:10px;
padding:0;
}

.cancer_fact_list li:last-child,
.cancer_tnm_fact_list li:last-child,
.tumor_fact_list li:last-child {
margin-right:0;
}

.fact {
color:#0275d8;
cursor:pointer;
}

.fact:hover {
text-decoration: underline;
}

/* Table */
/**
* Remove most spacing between table cells.
*/

table {
background-color:#fff;
border-collapse: collapse;
border-spacing: 0;
width:100%;
border:1px solid #dbdbdb;
}

td,
th {
padding: 0;
}

.table {
margin:10px 0 20px;
}

.table th.th {
padding:3px; 
border:1px solid #dbdbdb;
/* The text in th are bold and centered by default. */
}

.table th.th_vertical {
padding:3px; 
border:1px solid #dbdbdb;
/* The text in th are bold and centered by default. */
text-align:left;
}

.table td {
padding:3px; 
border:1px solid #dbdbdb;
}

.table td.empty_cell {
background:#e9ecef;
}


/* clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}


/* Fact */
.fact_list {
list-style-type: none;
margin:0;
padding:0;
}

.fact_list li {
display:inline;
margin-right:10px;
word-wrap: break-word;
}

.fact_list li:last-child {
margin-right:0;
}

.fact_info {
display:inline-block;
width:100px;
padding:5px 10px;
}

.left {
float:left;
width:860px;
margin-right:20px;
}

.right {
float:left;
width:860px;
}

.report_section {
margin-top: 10px;
background-color:#fff;
border:1px solid #dbdbdb;
}

#timeline {
background-color:#fff;
}

.divider {
border-bottom:1px solid #dbdbdb;
margin:0 10px;
}

/* Fact detail area */
#fact_detail {
margin:10px;
}

.fact_detail_list,
.fact_detail_list li ul {
list-style-type: none;
padding:0;
margin:0;
}

.fact_detail_list {
border-bottom:1px solid #dbdbdb;
padding-bottom:10px;
}

.fact_detail_list li ul {
float:left;
display:inline;
}

.fact_detail_label {
float:left;
font-weight:bold;
margin-right:5px;
}

.fact_detail_list li {
margin:5px 10px;
}

/* Remove the margin of last child due to the bottom border of fact_detail_list */ 
.fact_detail_list li:last-child {
margin-bottom:0;
}

.fact_detail_list li ul li {
float:left;
margin:0 10px 0 0;
}

.fact_detail_list li:last-child,
.fact_detail_list li ul li:last-child {
margin-right:0;
}

/* Grouped text mentions */
.grouped_text_provenance {
margin-right:20px !important;
}

.grouped_text_provenance:last-child {
margin-right:0;
}

.fact_detail_report_id {
float:left;
display:inline-block;
margin-right:10px;
}

.fact_based_report_id {
cursor:pointer;
font-weight:bold;
}

.current_displaying_report {
color:orange;
}


/* Report content area */
.report_area_left {
width:165px;
float:left;
padding:10px 5px 10px 10px;
}

#report_id {
margin-bottom:10px;
}

#report_text {
position: relative; /* Must explicitly specify the position of this dive for dynamic scrolling */
float:left;
width:653px;
height:500px;
padding:10px 10px 10px 5px;
overflow-y: scroll;
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-weight: normal;
text-align: left;
/* Whitespace is preserved by the browser. Text will wrap when necessary, and on line breaks */
/* Using <pre> will cause horizontal scroll bar. We use CSS instead for a better rendering. */
white-space:pre-wrap;
}

.display_report_id {
margin-left:3px;
font-weight:bold;
}

.mentioned_terms_list {
list-style-type: none;
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
padding:0;
margin:0;
}

.report_mentioned_term {
float:left;
margin:0 5px 5px 0;
padding:3px 2px 0;
border:1px solid #dbdbdb;
cursor:pointer;
background-color:#fff;
color:#75438a;
}

.mentioned_terms_list:last-child {
margin-right:0;
}

.current_mentioned_term {
background: #fff;
color:#f6941e;
}

.count {
font-size: .85em;
font-family: serif;
}

.highlighted_term {
background:#FFDC00;
color:#222;
/* 400 is the same as normal, and 700 is the same as bold */
font-weight: 600;
}


/* Timeline */
.episode_legend_circle,
.main_report {
fill-opacity:0.5;
}

.hide {
display:none;
}

.selected_episode_legend_circle {
fill-opacity:0 !important;
}

.selected_episode_legend_text {
font-weight: bold;
}

.selected_report {
fill-opacity:1 !important;
stroke-width: 6px;
}


.fact_highlighted_report {
fill-opacity:1 !important;
}

.main_report:hover {
fill-opacity:1;
stroke-width: 6px;
}

.overview_report {
stroke: #fff;	
}

.zoom {
fill: none;
/* 
The pointer-events attribute allows authors to control whether or when an element may be the target of a mouse event 
https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
Without this, the zoom won't work
*/
pointer-events: visibleFill;
}

.main-x-axis,
.overview-x-axis {
stroke-width: 0.5px;
stroke: #888;
font: 10px avenir next, sans-serif;
}

.main-x-axis > path,
.overview-x-axis > path {
stroke: #888;
}

/* D3 brush creates the overlay rect with class="overlay" */
.brush .overlay {
fill: #dbdbdb;
fill-opacity: 0.3;
}

/* D3 brush creates the selected rect with class="selection" */
.brush .selection {
stroke: #999;
fill: dodgerblue;
fill-opacity: 0.3;
}

.brush .handle--custom {
fill: #eee;
stroke: #666;
fill-opacity: 0.3;	
}

.legend_text {
font-size:11px;
}

.legend_group_divider {
stroke-width: 1px;
stroke: #dbdbdb;
shape-rendering: crispEdges;
}

.report_type_divider{
stroke-width: 1px;
shape-rendering: crispEdges;
stroke: #dbdbdb;
stroke-dasharray:2,2;
}

.encounter_age_guideline {
stroke-width: 1px;
shape-rendering: crispEdges;
stroke: red;
}

.report_type_label,
.overview_label,
.age_label {
font-size:11px;
text-anchor: end;
}

.encounter_age {
font-size:11px;
fill:#444;
text-anchor: middle;
}

/* Melanoma attributes present checkmark */
.present {
color:red;
}

/* Breast cancer biomarkers, ER, PR, Her2 status */
.positive {
font-weight:bold;
color: red;
}

.negative {
font-weight:bold;
color: green;
}

.unknown {
font-weight:bold;
color: orange;
}


/* Tumor Summary - Color View or Table View - Based on https://codepen.io/JiveDig/pen/jbdJXR*/
.tumor_summary_title,
.view_options { /* Align the title and siwtch vertically */
display:inline-block;
vertical-align: middle;
}

/* Hide the table view and expanded arrow as well as all toggleable facts by default */
#table_view,
.fa-caret-down,
.toggleable {
display:none;
}

.view_options {
margin-left:10px;
}

.view_options input {
position: absolute !important;
clip: rect(0, 0, 0, 0);
height: 1px;
width: 1px;
border: 0;
}

.view_options label {
float: left;
}

.view_options label {
display: inline-block;
width: 80px;
background-color: #fff;
color: rgba(0, 0, 0, 0.6);
text-align: center;
font-size: .75em;
font-weight:normal;
padding: 3px 10px 2px;
border: 1px solid #ccc;
}

.view_options label:hover {
cursor: pointer;
}

.view_options input:checked + label {
background-color: rgb(141, 211, 199);
}

.view_options label:first-of-type {
  border-radius: 8px 0 0 8px;
}

.view_options label:last-of-type {
  border-radius: 0 8px 8px 0;
}

/* Tumor list */
#list_view {
margin:10px 0;
background-color:#fff;
border:1px solid #dbdbdb;
padding:10px 5px;
}

.list_view_tumor {
margin-bottom:5px;
}

.arrow {
display: inline-block;
width:8px;
}

.fa-caret-right {
color:#1f77b4;
}

.fa-caret-down {
color:#e6550d;
}

.list_view_tumor_type {
width:127px;
float:left;
font-weight:bold;
margin-right:5px;
cursor:pointer;
}

.list_view_tumor_list {
width:716px;
float:left;
list-style-type: none;
padding:0;
margin:0;
}

.list_view_tumor_list li:last-child {
margin-right:0;
}

.list_view_tumor_list_item {
float:left;
height:15px;
margin-right:3px;
margin-bottom: 3px;
padding:3px 2px 1px;
color:#333;}

.list_view_tumor_list_item:hover {
background-color:#FFDC00;
}

.list_view_tumor_fact_list .fact {
color:#333;
}

.highlighted_fact {
font-style: italic;
color:orange !important;
text-decoration: underline;
}

.list_view_tumor_fact_list {
display:inline;
list-style-type: none;
padding:0;
margin:0;
}

.list_view_tumor_fact_list li {
display:inline;
margin-right:3px;
}

/* Colors from https://bl.ocks.org/pstuffa/3393ff2711a53975040077b7453781a9 */
.hasBodySite {
background:rgb(253, 208, 162);
}

.hasDiagnosis {
background:rgb(198, 219, 239);
}

.hasERStatus,
.hasPRStatus,
.hasHer2Status,
.hasKi67Status {
background:rgb(229, 216, 189);
}

.hasTumorSize,
.hasRadiologicTumorSize,
.hasPathologicTumorSize,
.hasPathologicAggregateTumorSize {
background:rgb(204, 235, 197);
}

.hasNuclearGrade {
background:rgb(218, 218, 235);
}

.hasCancerCellLine {
background:rgb(255, 255, 204);
}

.hasHistologicType {
background:rgb(206, 219, 156);
}

.hasTumorExtent {
background:rgb(253, 218, 236);
}

.unspecified {
background:rgb(242, 242, 242);
}

