

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
#reportsMenu, #reportsContent{
  height:600px;
  overflow-y:scroll;
  width:100%;
}
*/

pre {
    font-size:100%;
}







