
{{#if cancers.length}}

<div class="section_heading">Cancer & Tumor Summary</div>

{{#each cancers}}
<div class="cancer_and_tumor_summary clearfix">

<div class="cancer_id">{{cancerId}}: </div>

<div class="cancer_and_tnm">

<ul class="cancer_facts">
    {{#each collatedFacts}}
    <li class="cancer_facts_item">
        <em class="cancer_fact_category_name">{{categoryName}}: </em>
        <ul class="cancer_fact_list">
          {{#each facts}}
            <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
          {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>



<!-- TNM -->
{{#if tnm.length}}
    <div class="tnm clearfix">
        {{#each tnm}}
        <div class="tnm_by_type">
            <span class="tnm_type">{{type}} TNM</span>
            
            {{#if data.T}}
            <ul class="cancer_tnm_fact_list">
                {{#each data.T}}
                <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                {{/each}}
            </ul>
            {{/if}}
            
            {{#if data.N}}
            <ul class="cancer_tnm_fact_list">
                {{#each data.N}}
                <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                {{/each}}
            </ul>
            {{/if}}
  
            {{#if data.M}}
            <ul class="cancer_tnm_fact_list">
                {{#each data.M}}
                <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        {{/each}}

    </div>
{{/if}}
</div>


<!-- Tumor Summary -->
{{#if tumors.length}}
<div class="tumor_summary">
<div class="tumor_summary_title" title="{{cancerId}}">Tumor Summary</div>
<div class="view_options">
<input type="radio" id="list_view_option" name="view_options" value="List View" checked/>
<label for="list_view_option"><i class="fas fa-list"></i> List View</label>
<input type="radio" id="table_view_option" name="view_options" value="Table View" />
<label for="table_view_option"><i class="fas fa-table"></i> Table View</label>
</div>



<!-- List View -->
<div id="list_view">
{{#each tumors}}
<div class="list_view_tumor clearfix">
    <div class="list_view_tumor_type" title="Click to expand/collapse"><span class="arrow"><i class="fas fa-caret-right"></i><i class="fas fa-caret-down"></i></span> {{type}}</div>
    <ul class="list_view_tumor_list clearfix">
        {{#each data}}
            {{#if factsObj.facts}} <!-- Don't show empty facts for now, use categoryClass as CSS selectors -->
            <li class="list_view_tumor_list_item {{factsObj.categoryClass}}">
                <!-- Don't display prefix for "Body Site" -->
                {{#ifEquals factsObj.category "Body Site"}} 
                    <ul class="list_view_tumor_fact_list">
                    {{#each factsObj.facts}}
                        {{#if laterality}}
                        <li><span class="fact" id="list_view_{{id}}">{{prettyName}}</span> ({{laterality}})</li>
                        {{else}}
                        <li><span class="fact" id="list_view_{{id}}">{{prettyName}}</span></li>
                        {{/if}}
                    {{/each}}
                    </ul>
                <!-- Don't display prefix for "Diagnosis" -->
                {{else ifEquals factsObj.category "Diagnosis"}} 
                    <ul class="list_view_tumor_fact_list">
                    {{#each factsObj.facts}}
                        <li><span class="fact" id="list_view_{{id}}">{{prettyName}}</span></li>
                    {{/each}}
                    </ul>
                <!-- Display prefix for all other categories -->
                {{else}}
                    <div class="toggleable">
                    {{factsObj.category}}:
                    <ul class="list_view_tumor_fact_list">
                    {{#each factsObj.facts}}
                        <!-- "../"" is the notation to access outer scope variables -->
                        {{#inArray prettyName ../../../../melanomaAttributes}}
                            <!-- Melanoma specific -->
                            <li><span class="fact" id="list_view_{{id}}"><span class="present">&#x2714;</span> Present</span></li>
                        {{else}}
                            <li><span class="fact" id="list_view_{{id}}">{{prettyName}}</span></li>
                        {{/inArray}}
                      {{/each}}
                    </ul>
                    </div>
                {{/ifEquals}}
            </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
{{/each}}
</div>




<!-- Table View -->
<div id="table_view">
<table class="table">

<thead>
    <tr>
        <th class="th"></th>
        {{#each tumors}}
            <th class="th">{{type}}</th>
        {{/each}}
    </tr>
</thead>

<tbody>
    {{#each collatedFactsByCategory}}
    <tr>
        <th class="th_vertical {{categoryClass}}">{{category}}</th>
        {{#each data}}
            {{#if facts}}
                <td>
                <ul class="tumor_fact_list">
                  {{#each facts}}
                    {{#if laterality}}
                        <li><span class="fact" id="table_view_{{id}}">{{prettyName}}</span> ({{laterality}})</li>
                    {{else}}
                        <!-- "../"" is the notation to access outer scope variables -->
                        {{#inArray prettyName ../../../../melanomaAttributes}}
                        <!-- Melanoma specific -->
                        <li><span class="fact" id="table_view_{{id}}"><span class="present">&#x2714;</span> Present</span></li>
                        {{else}}
                        <li><span class="fact" id="table_view_{{id}}">{{prettyName}}</span></li>
                        {{/inArray}}
                    {{/if}}
                  {{/each}}
                </ul>
                </td>
                {{else}}
                <td class="empty_cell"></td>
            {{/if}}
            
        {{/each}}
    </tr>
    {{/each}}

</tbody>

</table>
</div>

</div>

{{/if}}

</div>

{{/each}}

{{/if}}