<div class="section_heading"><span id="cancer_name">{{name}}</span> Cancer Summary</div>

<table class="table">

<tbody>
    {{#each collatedFacts}}
    <tr>
        <th class="th_vertical">{{categoryName}}</th>
        <td>
        <ul class="cancer_fact_list">
          {{#each facts}}
            <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
          {{/each}}
        </ul>
        </td>
    </tr>
    {{/each}}
</tbody>

</table>



<!-- TNM -->
{{#if tnm.length}}
    <div class="tnm clearfix">
        {{#each tnm}}
        <div class="tnm_by_type">
            <span class="tnm_type">{{type}} TNM:</span>
            
            {{#if data.T}}
            <ul class="cancer_tnm_fact_list">
                {{#each data.T}}
                <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                {{/each}}
            </ul>
            {{/if}}
            
            {{#if data.N}}
            <ul class="cancer_tnm_fact_list">
                {{#each data.N}}
                <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                {{/each}}
            </ul>
            {{/if}}
  
            {{#if data.M}}
            <ul class="cancer_tnm_fact_list">
                {{#each data.M}}
                <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        {{/each}}

    </div>
{{/if}}