<div class="section_heading"><span id="cancer_name">{{name}}</span> Cancer Summary</div>

<table class="table">

<thead>
    <tr>
    {{#each collatedFacts}}
        <th class="th">{{categoryName}}</th>
    {{/each}}
    </tr>
</thead>

<tbody>
    <tr>
    {{#each collatedFacts}}
        <td>
        <ul class="cancer_fact_list">
          {{#each facts}}
            <li class="fact" id="{{id}}">{{prettyName}}</li>
          {{/each}}
        </ul>
        </td>
    {{/each}}
    </tr>
</tbody>

</table>


{{#if tnm.length}}
<table class="table">

<thead>
    <tr>
    <th class="th">Staging Type</th>
    <th class="th">T</th>
    <th class="th">N</th>
    <th class="th">M</th>
    </tr>
</thead>

<tbody>
    {{#each tnm}}
    <tr>
        <td>{{type}}</td>

        <td>
            <ul class="cancer_fact_list">
	            {{#each data.T}}
	            <li class="fact" id="{{id}}">{{prettyName}}</li>
	            {{/each}}
            </ul>
        </td>

        <td>
            <ul class="cancer_fact_list">
	            {{#each data.N}}
	            <li class="fact" id="{{id}}">{{prettyName}}</li>
	            {{/each}}
            </ul>
        </td>

        <td>
            <ul class="cancer_fact_list">
	            {{#each data.M}}
	            <li class="fact" id="{{id}}">{{prettyName}}</li>
	            {{/each}}
            </ul>
        </td>

    </tr>
    {{/each}}
</tbody>

</table>
{{/if}}