<h2>Cancer Summary: <span id="cancer_name">{{name}}</span></h2>

<table class="table">

<thead>
    <tr>
    <th class="th" width="15%">Category</th>
    <th class="th">Facts</th>
    </tr>
</thead>

<tbody>
    {{#each collatedFacts}}
    <tr>
        <td>{{categoryName}}</td>
        <td>
        <ul class="cancer_fact_list">
          {{#each facts}}
            <li class="fact" id="{{id}}">{{prettyName}}</li>
          {{/each}}
        </ul>
        </td>
    </tr>
    {{/each}}
</tbody>

</table>


<h3>TNM Staging Classifications</h3>

<table class="table">

<thead>
    <tr>
    <th class="th"></th>
    <th class="th">T</th>
    <th class="th">N</th>
    <th class="th">M</th>
    </tr>
</thead>

<tbody>
    {{#each tnm}}
    <tr>
        <td>{{type}}</td>

        {{#each data}}
        <td>
            <ul class="cancer_fact_list">
	            {{#each facts}}
	            <li class="fact" id="{{id}}">{{prettyName}}</li>
	            {{/each}}
            </ul>
        </td>
        {{/each}}

    </tr>
    {{/each}}
</tbody>

</table>