<div class="header">
<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">Cohort Analysis</span>
</div>

<div class="main">
  
<div id="stages" class="clearfix"></div>

<div id="patients"></div>

<button id="add_birthday">Add Birthday</button>

</div>





<script type="text/javascript">
var baseUri = '{{baseUri}}';

getCancerStages();

$(function() {
    // Cancer fact click
    $(document).on("click", "#add_birthday", function() {
        addBirthdays();
    });
});

</script>

