<div class="header">
<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">Cohort Analysis</span>
</div>

<div class="main">

<!-- Filters -->
<div id="stage_patient_count" class="cohort_chart"></div>

<div id="stage_patient_age" class="cohort_chart"></div>

<div class="clearfix"></div>

<!-- Results -->
<div id="patients"></div>

<div class="clearfix"></div>

<div id="diagnosis"></div>

<div id="biomarkers"></div>





</div>





<script type="text/javascript">
const baseUri = '{{baseUri}}';

showCohort();

</script>

