<div class="header">
<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">Cohort Analysis</span>
</div>

<div class="main">

<!-- Filters -->
<div class="filters clearfix">
<div id="stage_patient_count" class="cohort_chart"></div>

<div id="stage_patient_age" class="cohort_chart"></div>

</div>

<!-- Results -->
<div class="results clearfix">
<div id="results_title"></div>

<div id="patients"></div>

<div id="diagnosis"></div>

<div id="biomarkers_patients"></div>

<div id="biomarkers"></div>
</div>




</div>





<script type="text/javascript">
const baseUri = '{{baseUri}}';

showCohort();

</script>

