
<ul class="fact_detail_list">

<li>
<span class="fact_detail_label">Selected Fact:</span> {{sourceFact.prettyName}}
</li>

{{#if groupedTextProvenances}}
<li class="clearfix">
<span class="fact_detail_label">Text Provenances:</span>
<ul>
    {{#each groupedTextProvenances}}
    <li class="grouped_text_provenance"><span class="fact_detail_report_id"><i class="far fa-file"></i> <span id="{{docId}}" class="fact_based_report_id">{{shortDocId}}</span> --></span>
        <ul>
        {{#each groupedTexts}}
            <li>{{text}} <span class="count">({{count}})</span></li>
        {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
</li>
{{/if}}

</ul>




