
<ul class="fact_detail_list">

<li>
<span class="fact_detail_label">Name:</span> {{detail.prettyName}}
</li>

<li>
<span class="fact_detail_label">Type:</span>  {{detail.type}}
</li>

{{#if ordinalInterpretations}}
<li class="clearfix">
<span class="fact_detail_label">Ordinal Interpretation:</span> 
<ul>
    {{#each ordinalInterpretations}}
    <!-- Use name indead of PrettyName to handle "Gender Unknown" exception -->
    <li>{{name}}</li>
    {{/each}}
</ul>
</li>
{{/if}}


{{#if procedures}}
<li class="clearfix">
<span class="fact_detail_label">Procedures:</span>
<ul>
    {{#each procedures}}
    <li>{{prettyName}}</li>
    {{/each}}
</ul>
</li>
{{/if}}

{{#if lateralities}}
<li class="clearfix">
<span class="fact_detail_label">Laterality:</span>
<ul>
    {{#each lateralities}}
    <li>{{prettyName}}</li>
    {{/each}}
</ul>
</li>
{{/if}}

{{#if bodyModifiers}}
<li class="clearfix">
<span class="fact_detail_label">Body Modifiers:</span>
<ul>
    {{#each bodyModifiers}}
    <li>{{prettyName}}</li>
    {{/each}}
</ul>
{{/if}}

{{#if groupedTextMentions}}
<li class="clearfix">
<span class="fact_detail_label">Text Provenances in Report:</span>
<ul>
    {{#each groupedTextMentions}}
    <li>{{text}} <span class="count">({{count}})</span></li>
    {{/each}}
</ul>
</li>
{{/if}}

</ul>




