
<div class="header">
<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">{{patientName}}</span> (<a href="/patients" class="choose_patient_link">Choose a different patient</a>)
</div>

<div class="main">

<div id="fact_detail"></div>

<div class="left">

<div id="cancer"></div>

<div id="tumors"></div>





</div>


<div class="right">

<div class="section_heading">Report</div>

<div class="report_section clearfix">
<div id="timeline" class="clearfix"></div>

<div class="divider clearfix"></div>

<div id="report_mentioned_terms" ></div>
<div id="report_text"></div>

</div>

</div>

</div>


<script type="text/javascript">
var patientName = '{{patientName}}';
var cancerId = '{{cancerId}}';
var baseUri = '{{baseUri}}';

// Get patient cancer symmary and reports
getCancerSummary(patientName);

// Hard coded cancer ID for now, 'CancerSummary-Melanoma' or 'CancerSummary-Breast'
getTumorSummary(patientName, cancerId);

// Render timeline to the target container id
getTimeline(patientName, "timeline");

// We need to attach the click event to the document or the partial view's parent element
// otherwise we'll have to put the client event listener in the individual view template to get it work
// Cancer fact click
$(document).on("click", "#cancer .fact", function() {
    var cssClass = 'highlighted_fact';
    
    $('#cancer .fact').removeClass(cssClass);

    var factId = $(this).attr('id');
    getFact(factId);

    // Highlight the clicked fact
    $(this).addClass(cssClass);
});

// Tumor fact click - List View
$(document).on("click", "#list_view .fact", function() {
    var cssClass = 'highlighted_fact';

    $('#list_view .fact').removeClass(cssClass);
    $('#table_view .fact').removeClass(cssClass);

    // "list_view_{{id}}"
    var id = $(this).attr('id');
    var factId = id.substring(10);
    getFact(factId);

    // Highlight the clicked fact
    $(this).addClass(cssClass);

    // Also highlight the same fact in table view
    $("#table_view_"+factId).addClass(cssClass);
});

// Tumor fact click - Table View
$(document).on("click", "#table_view .fact", function() {
    var cssClass = 'highlighted_fact';

    $('#list_view .fact').removeClass(cssClass);
    $('#table_view .fact').removeClass(cssClass);

    // "table_view_{{id}}"
    var id = $(this).attr('id');
    var factId = id.substring(11);
    getFact(factId);

    // Highlight the clicked fact
    $(this).addClass(cssClass);

    // Also highlight the same fact in list view
    $("#list_view_"+factId).addClass(cssClass);
});

// Tumor summary
$(document).on("click", "#list_view_option", function() {
	$("#table_view").hide();
    $("#list_view").show();
});

$(document).on("click", "#table_view_option", function() {
	$("#list_view").hide();
	$("#table_view").show();
});

// Toggle for each tumor type under list view
$(document).on("click", ".list_view_tumor_type", function() {
    $(this).next().find(".toggleable").toggle("fast");
    $(this).find(".fa-caret-right, .fa-caret-down").toggle();
});

</script>

