

<div><span class="current_patient">{{patientName}}</span> (<a href="/patients">Choose a different patient</a>)

<div id="cancer"></div>

<div id="tumors"></div>

<div id="fact"></div>

<div id="reports-timeline"></div>

<div id="reports"></div>


<script type="text/javascript">
var patientName = '{{patientName}}';
var baseUri = '{{baseUri}}';

// Get patient cancer symmary and reports
getCancerSummary(patientName);

// Hard coded cancer ID for now
getTumorSummary(patientName, 'CancerSummary-Breast');

getReports(patientName);

// We need to attach the click event to the document or the partial view's parent element
// otherwise we'll have to put the client event listener in the individual view template to get it work
$(document).on("click", ".fact", function() {
    var factId = $(this).attr('id');
    getFact(factId);
});

$(document).on("click", ".report_name", function() {
    var reportId = $(this).attr('id');
    getReport(reportId, []);

    // Remove previous added highlighting class
    $('.report_name').removeClass("highlighted_report");
    // Also highlight this file
    $(this).addClass("highlighted_report");
});

</script>

<script src="/js/timeline.js"></script>