<div class="header">
<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">All Patients</span>
</div>


<div id="cancerstages"></div>







<ul class="patients_list">
  {{#each patients}}
    <li class="clearfix">
    {{! The ../ path segment references the parent template scope that should be what you want. }}
    <a href="{{../baseUri}}/patients/{{name}}">{{name}}</a>:
    <ul class="cancer_stage_list">
       {{#each cancerStage}}
           <li class="cancer_stage">{{this}}</li>
       {{/each}}
    </ul>
    </li>
  {{/each}}
</ul>


<script type="text/javascript">
var baseUri = '{{baseUri}}';

// Get all cancer stages
getCancerStages();
</script>

