
<div class="section_heading">Patient Information</div>

<table class="table">

<thead>
	<tr>
        <th class="th">ID</th>
        <th class="th">Name</th>
        <th class="th">Age of first encounter</th>
        <th class="th">Age of last encounter</th>
        <th class="th">Menopausal status</th>
    </tr>
</thead>

<tbody>
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{firstEncounterAge}}</td>
        <td>{{lastEncounterAge}}</td>
        <td>{{menopausal}}</td>
    </tr>
</tbody>

<tbody>