<div class="header">
<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">All Patients</span>
</div>

<div class="main">
  
<div id="cancerstages"></div>


<div id="cohort"></div>

<svg width="960" height="500"></svg>

</div>





<script type="text/javascript">
var baseUri = '{{baseUri}}';

// Get all cancer stages
getCancerStages();

// Show all patients by default
getCohort();

$(document).on("change", "#select_cancer_stage", function() {
    //console.log(this.value);
    getCohort(this.value);
});


</script>

