<div class="header">
<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">All Patients</span>
</div>

<div class="main">
  
<div id="cohort_container" class="clearfix"></div>

<div id="stages_selection"></div>

<div id="patients"></div>


</div>





<script type="text/javascript">
var baseUri = '{{baseUri}}';

// Get all cancer stages
getCancerStages();

$(document).on("change", "#select_cancer_stage", function() {
    //console.log(this.value);
    showPatients(this.value);
});


</script>

