
<div><span class="current_patient">{{patientName}}</span> (<a href="/patients">Choose a different patient</a>)

<div id="cancer"></div>

<div id="tumors"></div>

<div id="fact"></div>

<div id="reports">
<h2>Reports Timeline</h2>

<div id="timeline"></div>
<div id="report_content"></div>
</div>




<script type="text/javascript">
var patientName = '{{patientName}}';
var baseUri = '{{baseUri}}';

// Get patient cancer symmary and reports
getCancerSummary(patientName);

// Hard coded cancer ID for now
getTumorSummary(patientName, 'CancerSummary-Breast');

// Render timeline to the target container id
getTimeline(patientName, "timeline");

// We need to attach the click event to the document or the partial view's parent element
// otherwise we'll have to put the client event listener in the individual view template to get it work
$(document).on("click", ".fact", function() {
    var factId = $(this).attr('id');
    getFact(factId);
});

</script>

