
<div class="section_heading">Tumor Summary</div>


<!-- Redesign -->

{{#each tumors}}
<div class="redesign_tumor clearfix">
    <div class="redesign_tumor_type">{{type}}</div>
    <ul class="redesign_tumor_list clearfix">
        {{#each data}}
            {{#if factsObj.facts}} <!-- Don't show empty facts for now -->
            <li class="redesign_tumor_list_item category{{@index}}">
                {{factsObj.category}}:
                <ul class="redesign_tumor_fact_list">
                  {{#each factsObj.facts}}
                    {{#if ordinalinterpretation}}
                        <li>
	                        <span class="fact" id="{{id}}">
	                        {{#ifEquals ordinalinterpretation "Positive"}} 
	                            <span class="positive">&plus;</span>
	                        {{/ifEquals}}
	                        
	                        {{#ifEquals ordinalinterpretation "Negative"}}
	                            <span class="negative">&ndash;</span>
	                        {{/ifEquals}}

	                        {{#ifEquals ordinalinterpretation "Unknown"}}
	                            <span class="unknown">&quest;</span>
	                        {{/ifEquals}}
	                        </span>
                        </li>
                    {{else if laterality}}
                        <li><span class="fact" id="{{id}}">{{prettyName}}</span> ({{laterality}})</li>
                    {{else}}
                        <!-- "../"" is the notation to access outer scope variables -->
                        {{#inArray prettyName ../../../melanomaAttributes}}
                        <!-- Melanoma specific -->
                        <li><span class="fact" id="{{id}}"><span class="present">&#x2714;</span> Present</span></li>
                        {{else}}
                        <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                        {{/inArray}}
                    {{/if}}
                  {{/each}}
                </ul>
            </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
{{/each}}




















<!-- Old table design -->

<table class="table">

<thead>
    <tr>
        <th class="th"></th>
        {{#each tumors}}
            <th class="th">{{type}}</th>
        {{/each}}
    </tr>
</thead>



<tbody>
    {{#each collatedFactsByCategory}}
    <tr>
        <th class="th_vertical">{{category}}</th>
        {{#each data}}
            {{#if facts}}
                <td>
                <ul class="tumor_fact_list">
                  {{#each facts}}
                    {{#if ordinalinterpretation}}
                        <li>
                        <span class="fact" id="{{id}}">{{ordinalinterpretation}}</span>
                        {{#ifEquals ordinalinterpretation "Positive"}} 
                            <span class="positive">&plus;</span>
                        {{/ifEquals}}
                        
                        {{#ifEquals ordinalinterpretation "Negative"}}
                            <span class="negative">&ndash;</span>
                        {{/ifEquals}}

                        {{#ifEquals ordinalinterpretation "Unknown"}}
                            <span class="unknown">&quest;</span>
                        {{/ifEquals}}
                        </li>
                    {{else if laterality}}
                        <li><span class="fact" id="{{id}}">{{prettyName}}</span> ({{laterality}})</li>
                    {{else}}
                        <!-- "../"" is the notation to access outer scope variables -->
                        {{#inArray prettyName ../../../melanomaAttributes}}
                        <!-- Melanoma specific -->
                        <li><span class="fact" id="{{id}}"><span class="present">&#x2714;</span> Present</span></li>
                        {{else}}
                        <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                        {{/inArray}}
                    {{/if}}
                  {{/each}}
                </ul>
                </td>
                {{else}}
                <td class="empty_cell"></td>
            {{/if}}
            
        {{/each}}
    </tr>
    {{/each}}

</tbody>

</table>

