
<div class="section_heading">
<div class="tumor_summary_title">Tumor Summary</div>
<div class="switch-field">
<input type="radio" id="switch_color_view" name="switch" value="Color View" checked/>
<label for="switch_color_view">Color View</label>
<input type="radio" id="switch_table_view" name="switch" value="Table View" />
<label for="switch_table_view">Table View</label>
</div>
</div>


<!-- Redesign -->
<div id="color_view">
{{#each tumors}}
<div class="redesign_tumor clearfix">
    <div class="redesign_tumor_type">{{type}}</div>
    <ul class="redesign_tumor_list clearfix">
        {{#each data}}
            {{#if factsObj.facts}} <!-- Don't show empty facts for now, use categoryClass as CSS selectors -->
            <li class="redesign_tumor_list_item {{factsObj.categoryClass}}">
            	<!-- Don't display prefix for "Body Site" -->
                {{#ifEquals factsObj.category "Body Site"}} 
                    <ul class="redesign_tumor_fact_list">
                	{{#each factsObj.facts}}
	                    {{#if laterality}}
	                    <li><span class="fact" id="{{id}}">{{prettyName}}</span> ({{laterality}})</li>
	                    {{else}}
	                    <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
	                    {{/if}}
                    {{/each}}
                    </ul>
                <!-- Don't display prefix for "Diagnosis" -->
                {{else ifEquals factsObj.category "Diagnosis"}} 
                    <ul class="redesign_tumor_fact_list">
                	{{#each factsObj.facts}}
                    	<li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                    {{/each}}
                    </ul>
                <!-- Display prefix for all other categories -->
                {{else}}
                    {{factsObj.category}}:
	                <ul class="redesign_tumor_fact_list">
	                {{#each factsObj.facts}}
	                    {{#if ordinalinterpretation}}
	                        <li>
		                        <span class="fact" id="{{id}}">
		                        {{#ifEquals ordinalinterpretation "Positive"}} 
		                            <span class="positive">&plus;</span>
		                        {{/ifEquals}}
		                        
		                        {{#ifEquals ordinalinterpretation "Negative"}}
		                            <span class="negative">&ndash;</span>
		                        {{/ifEquals}}

		                        {{#ifEquals ordinalinterpretation "Unknown"}}
		                            <span class="unknown">&quest;</span>
		                        {{/ifEquals}}
		                        </span>
	                        </li>
	                    {{else}}
	                        <!-- "../"" is the notation to access outer scope variables -->
	                        {{#inArray prettyName ../../../melanomaAttributes}}
	                            <!-- Melanoma specific -->
	                            <li><span class="fact" id="{{id}}"><span class="present">&#x2714;</span> Present</span></li>
	                        {{else}}
	                            <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
	                        {{/inArray}}
	                    {{/if}}
	                  {{/each}}
	                </ul>
                {{/ifEquals}}
            </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
{{/each}}
</div>








<!-- Old table design -->
<div id="table_view">
<table class="table">

<thead>
    <tr>
        <th class="th"></th>
        {{#each tumors}}
            <th class="th">{{type}}</th>
        {{/each}}
    </tr>
</thead>



<tbody>
    {{#each collatedFactsByCategory}}
    <tr>
        <th class="th_vertical">{{category}}</th>
        {{#each data}}
            {{#if facts}}
                <td>
                <ul class="tumor_fact_list">
                  {{#each facts}}
                    {{#if ordinalinterpretation}}
                        <li>
                        <span class="fact" id="{{id}}">{{ordinalinterpretation}}</span>
                        {{#ifEquals ordinalinterpretation "Positive"}} 
                            <span class="positive">&plus;</span>
                        {{/ifEquals}}
                        
                        {{#ifEquals ordinalinterpretation "Negative"}}
                            <span class="negative">&ndash;</span>
                        {{/ifEquals}}

                        {{#ifEquals ordinalinterpretation "Unknown"}}
                            <span class="unknown">&quest;</span>
                        {{/ifEquals}}
                        </li>
                    {{else if laterality}}
                        <li><span class="fact" id="{{id}}">{{prettyName}}</span> ({{laterality}})</li>
                    {{else}}
                        <!-- "../"" is the notation to access outer scope variables -->
                        {{#inArray prettyName ../../../melanomaAttributes}}
                        <!-- Melanoma specific -->
                        <li><span class="fact" id="{{id}}"><span class="present">&#x2714;</span> Present</span></li>
                        {{else}}
                        <li><span class="fact" id="{{id}}">{{prettyName}}</span></li>
                        {{/inArray}}
                    {{/if}}
                  {{/each}}
                </ul>
                </td>
                {{else}}
                <td class="empty_cell"></td>
            {{/if}}
            
        {{/each}}
    </tr>
    {{/each}}

</tbody>

</table>
</div>
