<h2>Cancer Summary: <span id="cancer_name">{{name}}</span></h2>

<table class="table">

<thead>
    <tr>
    <th class="th" width="15%">Category</th>
    <th class="th">Facts</th>
    </tr>
</thead>

<tbody>
    {{#each collatedFacts}}
    <tr>
        <td>{{categoryName}}</td>
        <td>
        <ul class="cancer_fact_list">
          {{#each facts}}
            <li class="fact" id="{{id}}">{{prettyName}}</li>
          {{/each}}
        </ul>
        </td>
    </tr>
    {{/each}}
</tbody>

</table>


<script type="text/javascript">
// JS code has to be in this file
$('.fact').click(function() {
    var factId = $(this).attr('id');
    getFact(factId);
});

</script>