
<div>
    <p>Fact Detail</p>
    <ul class="fact_list">
        <li><span class="fact_info">ID:</span> {{detail.id}}</li>
        <li><span class="fact_info">Name:</span> {{detail.prettyName}}</li>
        <li><span class="fact_info">URI:</span> {{detail.uri}}</li>
    </ul>

    {{#if ordinalInterpretations}}
    <p>OrdinalInterpretation</p>
    <ul class="fact_list">
    {{#each ordinalInterpretations}}
        <li>{{prettyName}}</li>
    {{/each}}
    </ul>
    {{/if}}

    {{#if procedures}}
    <p>Procedures</p>
    <ul class="fact_list">
        {{#each procedures}}
        <li>{{prettyName}}</li>
        {{/each}}
    </ul>
    {{/if}}

    <p>Text Provenances</p>
    {{#each textProvenances}}
    <ul class="fact_list">
        <li><span class="fact_info">Report ID:</span> {{documentId}}</li>
        <li><span class="fact_info">Report Name:</span> {{documentName}}</li>
        <li><span class="fact_info">Text:</span> {{text}}</li>
        <li><span class="fact_info">Start:</span> {{startOffset}}</li>
        <li><span class="fact_info">End:</span> {{endOffset}}</li>
    </ul>
    {{/each}}
</div>

<script type="text/javascript">
var reportId = '{{reportId}}';
var textProvenancesArr = {{{textProvenancesArr}}};
console.log(textProvenancesArr);
// Is it possible to have multiple associated reports?

// Highlight report ID in list
highlightReport(reportId, textProvenancesArr);

</script>