
<div>
    <p>Fact Detail</p>
    <ul class="fact_list">
        <li><span class="fact_info">ID:</span> {{detail.id}}</li>
        <li><span class="fact_info">Name: {{detail.prettyName}}</li>
        <li><span class="fact_info">URI: {{detail.uri}}</li>
    </ul>

    <p>Text Provenances</p>
    {{#each textProvenances}}
    <ul class="fact_list">
        <li>Report ID: {{documentId}}</li>
        <li>Report Name: {{documentName}}</li>
        <li>Text: {{text}}</li>
        <li>Start: {{startOffset}}</li>
        <li>End: {{endOffset}}</li>
    </ul>
    {{/each}}
</div>

<script type="text/javascript">
var reportId = '{{textProvenances}}';
highlightReport(reportId);

</script>