<h2>Fact Information</h2>

<p>Fact Detail</p>

<table class="table">

<thead>
    <tr>
    <th class="th">Fact Name</th>
    <th class="th">Fact ID</th>
    <th class="th">Fact Type</th>

    {{#if ordinalInterpretations}}
    <th class="th">OrdinalInterpretation</th>
    {{/if}}

    {{#if procedures}}
    <th class="th">Procedures</th>
    {{/if}}

    {{#if lateralities}}
    <th class="th">Lateralities</th>
    {{/if}}

    {{#if bodyModifiers}}
    <th class="th">Body Modifiers</th>
    {{/if}}

    </tr>
</thead>

<tbody>
    <tr>
        <td>{{detail.prettyName}} (<a href="{{detail.uri}}" target="_blank">Ontology</a>)</td>
        <td>{{detail.id}}</td>
        <td>{{detail.type}}</td>
        
        {{#if ordinalInterpretations}}
        <td>
            <ul class="fact_list">
                {{#each ordinalInterpretations}}
                <li>{{prettyName}}</li>
                {{/each}}
            </ul>
        </td>
        {{/if}}
        
        
        {{#if procedures}}
        <td>
            <ul class="fact_list">
                {{#each procedures}}
                <li>{{prettyName}}</li>
                {{/each}}
            </ul>
        </td>
        {{/if}}

        {{#if lateralities}}
        <td>
            <ul class="fact_list">
                {{#each lateralities}}
                <li>{{prettyName}}</li>
                {{/each}}
            </ul>
        </td>
        {{/if}}

        {{#if bodyModifiers}}
        <td>
            <ul class="fact_list">
                {{#each bodyModifiers}}
                <li>{{prettyName}}</li>
                {{/each}}
            </ul>
        </td>
        {{/if}}
        
    </tr>
</tbody>

</table>


{{#if textProvenances}}
<p>Text Provenances</p>

<table class="table">

<thead>
    <tr>
    <th class="th">Text</th>
    <th class="th">Report ID</th>
    <th class="th">Report Name</th>
    <th class="th">Report Section</th>
    <th class="th">Start</th>
    <th class="th">End</th>
    </tr>
</thead>

<tbody>
    {{#each textProvenances}}
    <tr>
        <td>{{text}}</td>
        <td>{{documentId}}</td>
        <td>{{documentName}}</td>
        <td>{{documentSection}}</td>
        <td>{{startOffset}}</td>
        <td>{{endOffset}}</td>
    </tr>
    {{/each}}
</tbody>

</table>
{{/if}}

<script type="text/javascript">
var reportId = '{{reportId}}';
var textProvenancesArr = {{{textProvenancesArr}}};
console.log(textProvenancesArr);
// Is it possible to have multiple associated reports?

// Highlight report ID in list if there's text mention
if (reportId !== '') {
    highlightReport(reportId, textProvenancesArr);
}
</script>