

<h2>{{patientName}}</h2>

<h2>Cancer Summary</h2>

<div id="cancers"></div>

<h2>Tumor Summary</h2>

<div id="tumors"></div>

<h2>Fact Information</h2>

<div id="fact"></div>

<h2>Reports</h2>

<div id="reports"></div>


<script type="text/javascript">
var patientName = '{{patientName}}';
var baseUri = '{{baseUri}}';

// Get cancer summary
function getCancerSummary(patientName) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/patients/' + patientName + '/cancers',
	    method: 'GET', 
	    async : true,
	    dataType : 'html' // Use 'html' instead of 'json' for rendered html content
	});

	jqxhr.done(function(response) {
	    //console.log(response);

	    // Render response
	    //$('#cancers').html('<pre>' + JSON.stringify(response, null, 4) + '</pre>');
	    $('#cancers').html(response);
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get cancer summary");
	});
}

// Get tumor summary
function getTumorSummary(patientName, cancerId) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/patients/' + patientName + '/' + cancerId + '/tumors',
	    method: 'GET', 
	    async : true,
	    dataType : 'html' // Use 'html' instead of 'json' for rendered html content
	});

	jqxhr.done(function(response) {
	    //console.log(response);

	    // Render response
	    $('#tumors').html(response);
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get cancer summary");
	});
}

// Get reports
function getReports(patientName) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/patients/' + patientName + '/reports',
	    method: 'GET', 
	    async : true,
	    dataType : 'html' // Use 'html' instead of 'json' for rendered html content
	});

	jqxhr.done(function(response) {
	    //console.log(response);
	    
	    // Render response
	    //$('#reports').html('<pre>' + JSON.stringify(response, null, 4) + '</pre>');
	    $('#reports').html(response);
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get reports");
	});
}

// Get report by ID
function getReport(reportId, textProvenancesArr) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/reports/' + reportId,
	    method: 'GET', 
	    async : true,
	    dataType : 'json'
	});

	jqxhr.done(function(response) {
	    //console.log("Report: " + reportId);

        var reportText = response.data[0][0].data.text;

        // Also highlight the mentioned texts if there's any
        if (textProvenancesArr.length > 0) {
            for (var i = 0; i < textProvenancesArr.length; i++) {
                reportText = reportText.replace(textProvenancesArr[i].text, '<span class="text_highlight">' + textProvenancesArr[i].text + '</span>');
            }
        }
console.log(reportText);
	    // Render response
	    $('#report_content').html('<pre>' + reportText + '</pre>');
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get report");
	});
}

// Get fact details by ID
function getFact(factId) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/fact/' + factId,
	    method: 'GET', 
	    async : true,
	    dataType : 'html' // Use 'html' instead of 'json' for rendered html content
	});

	jqxhr.done(function(response) {
	    // console.log("Fact response:");
	    // console.log(response);

	    // Render response
	    $('#fact').html(response);
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get fact");
	});
}

function highlightReport(reportId, textProvenancesArr) {
    // First get the report content
    getReport(reportId, textProvenancesArr);

    // Remove previous added highlighting class
    $('.report_id').removeClass("highlight");
    // Also highlight this file
    $('#' + reportId).addClass("highlight");
}

$('.fact_id').click(function() {
    var factId = $(this).attr('id');
    getFact(factId);
});


// Get patient cancer symmary and reports
getCancerSummary(patientName);

// Hard coded cancer ID for now
getTumorSummary(patientName, 'CancerSummary-Breast');

getReports(patientName);


</script>