

<h2>{{patientName}}</h2>

<h2>Cancer Summary</h2>

<div id="cancers"></div>

<h2>Reports</h2>

<div id="reports"></div>

<h2>Individual Report: <span id="reportId"></span></h2>

<div id="report"></div>

<script type="text/javascript">
var patientName = '{{patientName}}';
var baseUri = '{{baseUri}}';

// Get cancer summary
function getCancerSummary(patientName) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/patients/' + patientName + '/cancers',
	    method: 'GET', 
	    async : true,
	    dataType : 'text' // Use 'text' instead of 'json' for rendered html content
	});

	jqxhr.done(function(response) {
	    console.log(response);

	    // Render response
	    //$('#cancers').html('<pre>' + JSON.stringify(response, null, 4) + '</pre>');
	    $('#cancers').html(response);
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get cancer summary");
	});
}

// Get reports
function getReports(patientName) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/patients/' + patientName + '/reports',
	    method: 'GET', 
	    async : true,
	    dataType : 'json'
	});

	jqxhr.done(function(response) {
	    console.log(response);
	    
	    // Render response
	    $('#reports').html('<pre>' + JSON.stringify(response, null, 4) + '</pre>');
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get reports");
	});
}

// Get reports
function getReport(reportId) {
	// Separate the ajax request with callbacks
	var jqxhr = $.ajax({
	    url: baseUri + '/reports/' + reportId,
	    method: 'GET', 
	    async : true,
	    dataType : 'json'
	});

	jqxhr.done(function(response) {
	    console.log("Report: " + reportId);
	    console.log(response);
	    
	    // Render response
	    $('#reportId').html(reportId);
	    $('#report').html('<pre>' + response.data[0][0].data.text + '</pre>');
	});

	jqxhr.fail(function () { 
	    console.log("Ajax error - can't get report");
	});
}

// Get patient cancer symmary and reports
getCancerSummary(patientName);

getReports(patientName);

getReport('REPORT_patient02_report006_RAD_580499229');

</script>