
<table class="table">

    <tr> 
        <th class="th">ID</th> 
        <th class="th">Title</th> 
        <th class="th">Type</th> 
        <th rowspan="{{rowspan}}" width="45%"><div id="report_content"></div></th> 
    </tr> 

        {{#each reports}} 
        <tr> 
            <td><em class="report_id" id="{{this.[0]}}">{{this.[0]}}</em></td> 
            <td>{{this.[2]}}</td> 
            <td>{{this.[3]}}</td> 
        </tr> 
        {{/each}} 

</table>

<script type="text/javascript">
// JS code has to be in this file
$('.report_id').click(function() {
    var reportId = $(this).attr('id');
    getReport(reportId);
});

</script>