
<table class="table">
    <thead> 
        <th>ID</th> 
        <th>Date</th> 
        <th>Title</th> 
        <th>Type</th> 
    </thead> 
    <tbody> 
        {{#each reports}} 
        <tr> 
            <td><em class="report_id" id="{{this.[0]}}">{{this.[0]}}</em></td> 
            <td>{{this.[1]}}</td> 
            <td>{{this.[2]}}</td> 
            <td>{{this.[3]}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<script type="text/javascript">
// JS code has to be in this file
$('.report_id').click(function() {
    var reportId = $(this).attr('id');
    getReport(reportId);
});

</script>