
<table class="table">

    <tr> 
        <th rowspan="{{rowspan}}" width="824"><div id="report_content"></div></th> 
        <th class="th">Name</th> 
        <th class="th">Date</th> 
        <th class="th">Type</th>
    </tr> 

        {{#each reports}} 
        <tr> 
            <td><span class="report_name" id="{{this.[0]}}">{{this.[2]}}</span></td> 
            <td>{{this.[1]}}</td> 
            <td>{{this.[3]}}</td> 
        </tr> 
        {{/each}} 

</table>

<script type="text/javascript">
// JS code has to be in this file
$('.report_name').click(function() {
    var reportId = $(this).attr('id');
    getReport(reportId, []);

    // Remove previous added highlighting class
    $('.report_name').removeClass("highlight");
    // Also highlight this file
    $(this).addClass("highlight");
});

</script>