
<h2>Tumor Summary</h2>

<table class="table">

<thead>
    <tr>
    <th class="th">Tumor</th>
    {{#each commonCategories}}
    <th class="th">{{this}}</th>
    {{/each}}
    </tr>
</thead>

<tbody>
    {{#each tumorsData}}
    <tr>
        <td>{{id}}</td>
        {{#each factsOfCommonCategories}}
        <td>
        <ul class="tumor_fact_list">
          {{#each facts}}
            <li class="fact_id" id="{{id}}">{{prettyName}}</li>
          {{/each}}
        </ul>
        </td>
        {{/each}}
    </tr>
    {{/each}}
</tbody>

</table>


<script type="text/javascript">
// JS code has to be in this file
$('.fact_id').click(function() {
    var factId = $(this).attr('id');
    getFact(factId);
});

</script>