
<h2>Tumor Summary</h2>

<table class="table">

<thead>
    {{#if multiTumors}}
        <col>
        <colgroup span="{{numOfCommonCategories}}"></colgroup>
        <tr>
        <th class="th" rowspan="2">Tumor ID</th>
        <th class="th" colspan="{{numOfCommonCategories}}" scope="colgroup">Common Categories</th>
        </tr>
        <tr>
        {{#each commonCategories}}
            <th class="th" scope="col">{{this}}</th>
        {{/each}}
        </tr>
    {{else}}
        <tr>
        <th class="th">Tumor ID</th>
        {{#each commonCategories}}
            <th class="th">{{this}}</th>
        {{/each}}
        </tr>
    {{/if}}
</thead>

<tbody>
    {{#each tumorsData}}
    <tr>
        <th class="th">{{id}}</th>
        {{#each factsOfCommonCategories}}
        <td>
        <ul class="tumor_fact_list">
          {{#each facts}}
            <li class="fact" id="{{id}}">{{prettyName}}</li>
          {{/each}}
        </ul>
        </td>
        {{/each}}
    </tr>
    {{/each}}
</tbody>

</table>


<script type="text/javascript">
// JS code has to be in this file
$('.fact').click(function() {
    var factId = $(this).attr('id');
    getFact(factId);
});

</script>