<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>DeepPhe-Viz</title>

<script src="/js/deepphe.js"></script>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/deepphe.css">

</head>

<body>

<h1 class="header">DeepPhe-Viz</h1>

<div class="content">
{{! Every view gets inserted here }}
{{{content}}}
</div>

</body>
</html>